*{
    padding: 0;
    margin: 0;   
}
.body{
    display: block
}
.banner{
    display: block;
    background-image: url("../assets/img/slide1.jpg");
    background-position-x: 0;
    background-position-y: 0;
    width: 100%;
    background-size: cover;
    position: relative;
}
.banner .logo{
    background-color: red;
    margin-left: 150px;
    color: white;
    height: 30px;
    width: 100px;
    display: block;
    padding: 32px;
    font-family: sans-serif;
}
.banner .nav-list{
   
    float: right
}
.banner .h1{
    
    display:inline-block;
 }
.banner .nav-list ul li{
    display:inline-block;
    
}
.banner .nav-list ul li a{
    text-decoration: none;
    
}